<form action="">
    <input type="text" placeholder="nombre" name="name">
    <input type="number" placeholder="precio" name="precio">
    <button>ENVIAR</button>
</form>
<div class="datos">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>